<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ghostscript.NET" version="1.2.1" targetFramework="net461" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net461" />
  <package id="Microsoft.Azure.Search" version="5.0.3" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Common" version="5.0.3" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Data" version="5.0.3" targetFramework="net461" />
  <package id="Microsoft.Azure.Search.Service" version="5.0.3" targetFramework="net461" />
  <package id="Microsoft.ProjectOxford.Vision" version="0.5.0.1" targetFramework="net45" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net461" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net461" />
  <package id="Microsoft.Spatial" version="7.5.4" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net461" />
  <package id="Pdf2Png" version="1.0.2" targetFramework="net461" />
  <package id="SolidFramework" version="1.0.0" targetFramework="net461" />
  <package id="Xfinium.Pdf.NetStandard" version="8.4.1.0" targetFramework="net461" />
  <package id="Xfinium.Pdf.Render.NetStandard" version="8.4.1.0" targetFramework="net461" />
</packages>