<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
    <!--please put your suscription key here.
    <add key="textExtractionAccountKey" value=[Enter Azure ML Text Extraction API Key]/>
    <add key="oxfordSubscriptionKey" value=[Enter Project Oxford Vision Subscription Key]/>
    <add key="searchServiceName" value=[Enter Azure Search Search Service Name - Exclude .search.windows.net]/>
    <add key="searchServiceAPIKey" value=[Enter Azure Search Search Admin API Key]/>
    -->
      <add key="textExtractionAccountKey" value="" />
      <add key="oxfordSubscriptionKey" value="" />
      <add key="searchServiceName" value="" />
      <add key="searchServiceAPIKey" value="" />
  </appSettings>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.4.30215" newVersion="7.5.4.30215" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
